* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
}

.bg-black {
  background-color: black;
}

.bg-purple {
  background-color: #141922;
}

.bg-header {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-gray {
  background-color: #282828;
}

.c-white {
  color: white;
}

.c-gray {
  color: #6C6D6C;
  font-size: 0.8rem;
}

.button-black {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 2rem;
  margin: 2rem;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
}

.h-94 {
  height: calc(100vh - 6rem);
}

.h-6rem {
  height: 6rem;
}

.width-15 {
  width: 15rem;
}

.width-85 {
  width: calc(100vw - 15rem);
}
.width-70 {
  width: 70%;
}

.overf-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.m-l-r-2rem {
  margin: 0 2rem;
}

.m-l-1 {
  margin-left: 1%;
}

.m-r-2rem li {
  margin-right: 2rem;
}

.padding-t-b {
  padding: 1rem 0;
}

.padding-b {
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
}

/* *SIDEBAR */

.nav-top, .nav-bottom {
  margin: 0 1rem;
}

#John {
  color: white;
}

.sidebar li, .nav-bottom div  {
  padding: 0.5rem 0;
  color: #5D5D5D;
  font-size: 0.8rem;
}

.nav-top > ul > li > img {
  width: 1.5rem;
}

.fa-plus {
  background-color: gray;
  color: black;
  padding: 0.5rem;

}

.download {
  border-bottom: 1px solid lightgray;
}

.download img {
  width: 1rem;
  margin-right: 0.5rem;
}

.user img {
  width: 1.5rem;
  height: 1.5rem;
  background-color: gray;
  border-radius: 50%;
  margin-right: 1rem;
}

.flex-c {
  display: flex;
  align-items: center;
}

/* "HEADER" */
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 15rem);
}

/* TITOLI */
.titoli {
  margin-top: 7rem;
}

/* ALBUMS */
.card {
  width: calc((100%/6) - 2%);
  margin-right: 1%;
  margin-left: 1%;
}

.card img {
  width: 100%;
}

.card h3, .card p {
  text-align: center;
}

.tonda {
  border-radius: 50%;
}

/* *FOOTER */
.ft-sx {
  align-items: center;
}

.ft-dx {
  justify-content: flex-end;
}

.ft-sx * {
  margin-left: 1rem;
}

.ft-dx * {
  margin-right: 1rem;
}

.ft-sx img {
  width: 3rem;
}

.barra {
  height: 5px;
  border: 1px solid #5A5A5A;
  background-color: #5A5A5A;
  border-radius: 20px;
}

.riproduzione {
  width: 80%;
}

.volume{
  width: 30%;
}

.player-bottom, .player-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-top *, .player-bottom span {
  margin: 0.2rem 1rem;
}

.barra-white {
  height: 5px;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  width: 40%;
}

.ft-cx {
  width: 40%;
}

.ft-sx, .ft-dx {
  width: 30%;
  align-items: center;
}

#play-button {
  font-size: 2rem;
}


